.kad-card {
	border-radius: 0.25rem;
	border: 1px solid var(--mauve-7);
	margin: 1rem;
}

.kad-card-title {
	background: var(--mauve-3);
	border-radius: 0.25rem 0.25rem 0 0;
	padding: 0.25rem;
}

.kad-card-body {
	padding: 0.25rem;
}

.kad-card-html {
	padding: 0.25rem;
}

.kad-card-actions {
	background: var(--mauve-3);
	border-radius: 0 0 0.25rem 0.25rem;
	padding: 0.25rem;
	display: flex;
	align-items: center;
	a {
		flex: 1;
		display: block;
		text-align: center;
	}
}
